body{
    background-color: rgba(135, 155, 241, 0.137);
}

h1{
    color : red;
    font-family : Arial;
    font-size: 56px;
}

h2{
    font-family : Arial;
    font-size: 48px;
    font-style: italic;
    font-weight: normal;
}

h3{
    font-size: 38px;
text-transform: capitalize;
text-align: center;
text-decoration: underline;
background-color: rgb(99, 240, 205);
}

p {
    text-indent: 58px;
    font-size: 28px;
    text-align: justify;
    color:yellow;
    font-variant: small-caps;
}

a{
    text-decoration: none ;
    font-variant: normal;
}